<h1>{{platform_user.nickname}}</h1>
<h2>Here are your pencrafts: </h2>
{% if pencraft_list %}
    <ul>
    {% for pencraft in pencraft_list %}
        <!-- <li><a href="/writing/{{ pencraft.id }}/">{{ pencraft.topic }}</a></li> hard coded -->
        <li><a href="{% url 'pencraft' pencraft.id %}">{{ pencraft.topic }}</a></li>
        <h3>{{pencraft.pub_date}}</h3>
        {{pencraft.description}}
    {% endfor %}
    </ul>
{% else %}
    <p>No pencrafts are available.</p>
{% endif %}
<h2>Start your new pencraft!</h2>
{% if err_msg %}
        <div>{{ err_msg }}</div>
        {% endif %}
<form method="post">{% csrf_token %}
    Topic(in 100 chars)<input type="text" name="topic"><br>
    Description(in 200 chars)<input type="text" name="description"><br>

    <input type="submit" value="submit">
</form>

<h2>Other functions</h2>
<li><a href="/writing/author/{{ user.username }}/update/">Update one of your previous work</a></li>