<h1>{{platform_user.nickname}}</h1>
<h2>Start your new chapter!</h2>
{% if err_msg %}
        <div>{{ err_msg }}</div>
        {% endif %}
<form method="post">{% csrf_token %}
    {% if pencraft_list %}
    <ul>
    {% for pencraft in pencraft_list %}
        <li><a href="{% url 'pencraft' pencraft.id %}">{{ pencraft.topic }}</a></li>
        <input type="radio" name="collection" value={{pencraft.id}}>{{ pencraft.topic }}<br>
    {% endfor %}
        chap_name(in 100 chars)<input type="text" name="chap_name"><br>
        text(in 3k chars)<input type="text" name="text"><br>
        <input type="submit" value="submit">
    </ul>
    {% else %}
        <p>No pencrafts are available.</p>
    {% endif %}
</form>