<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>注册页面</title>
    </head>
    <body>
        <h1>用户注册</h1>
        {% if err_msg %}
        <div>{{ err_msg }}</div>
        {% endif %}
        <form method="post">{% csrf_token %}
            用户名: <input type="text" name="name"><br>
            密码：<input type="password" name="password1"><br>
            确认密码: <input type="password" name="password2"><br>
            昵称: <input type="text" name="nickname"><br>
            性别:<br>
            <input type="radio" name="gender" value="男">男<br>
            <input type="radio" name="gender" value="女">女<br>
            专业:<br>
            <input type="radio" name="major" value="汉语言">汉语言<br>
            <input type="radio" name="major" value="外国语">外国语<br>
            <input type="radio" name="major" value="社会学">社会学<br>
            <input type="radio" name="major" value="政治学">政治学<br>
            <input type="radio" name="major" value="历史学">历史学<br>
            <input type="radio" name="major" value="数学">数学<br>
            <input type="radio" name="major" value="物理学">物理学<br>
            <input type="radio" name="major" value="化学">化学<br>
            <input type="radio" name="major" value="生物学">生物学<br>
            <input type="radio" name="major" value="计算机科学">计算机科学<br>
            <input type="radio" name="major" value="心理学">心理学<br>
            <input type="radio" name="major" value="哲学">哲学<br>
            <input type="radio" name="major" value="其他">其他<br>
            书籍类型偏好:<br>
            <input type="radio" name="type_preference" value="小说、散文及其他文学作品">小说、散文及其他文学作品<br>
            <input type="radio" name="type_preference" value="社会学">社会学<br>
            <input type="radio" name="type_preference" value="政治学">政治学<br>
            <input type="radio" name="type_preference" value="历史学">历史学<br>
            <input type="radio" name="type_preference" value="数学">数学<br>
            <input type="radio" name="type_preference" value="物理学">物理学<br>
            <input type="radio" name="type_preference" value="化学">化学<br>
            <input type="radio" name="type_preference" value="生物学">生物学<br>
            <input type="radio" name="type_preference" value="计算机科学">计算机科学<br>
            <input type="radio" name="type_preference" value="心理学">心理学<br>
            <input type="radio" name="type_preference" value="哲学">哲学<br>
            <input type="radio" name="type_preference" value="其他">其他<br>

            <input type="submit" value="提交">
        </form>
    </body>
</html>